apiVersion: v1
kind: Service
metadata:
  name: {{ kweaver_runtime.alias_name }}
  namespace: {{ kweaver_runtime.alias_namespace }}
  labels:
    app.kubernetes.io/name: {{ kweaver_runtime.alias_name }}
    app.kubernetes.io/part-of: v9
spec:
  type: ExternalName
  externalName: {{ kweaver_runtime_target_fqdn }}
  ports:
    - name: {{ kweaver_runtime.scheme }}
      port: {{ kweaver_runtime_target_service_port }}
      protocol: TCP
