.git
.pytest_cache
.mypy_cache
.ruff_cache
.worktrees
.env
.venv
.tox
.coverage
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
htmlcov
build
dist
logs
tests
docs
service.run.log
service.stderr.log
service.stdout.log
